{% extends 'base.html' %}

{% block content %}
<div class="wrap">
    <h2 style="color: #b8860b; margin-bottom: 20px;">Add New Due</h2>
    <form action="" method="post" style="text-align: left;">
        {% csrf_token %}
        <div class="fields">
            {{ form.as_p }}
        </div>
        <input class="button-custom" type="submit" value="Add Due" style="margin-top: 20px;">
    </form>
</div>
{% endblock content %}

{% block more_links %}
<a href="{% url 'warden_dues' %}" style="margin-right: 15px;">
    Dues
</a>
<a href="{% url 'warden_add_due' %}" style="margin-right: 15px;">
    Add Due
</a>
<a href="{% url 'warden_remove_due' %}" style="margin-right: 15px;">
    Remove Due
</a>
<a href="{% url 'logout' %}">
    Logout
</a>
{% endblock more_links %}